@model Nop.Plugin.Misc.SimpleCheckOut.Models.OnePageCheckoutModel
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

<div class="page checkout-page">
    <div class="page-title">
        @T("Checkout")
    </div>
</div>